<!DOCTYPE html>
<html lang="en">
	<head>
		<title>Jared's Page</title>
		<link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css">
		<script type="text/javascript" src="/static/javascript/jquery-2.2.4.min.js"></script>
		<link rel="stylesheet" href="https://www.w3schools.com/lib/w3.css" type='text/css'>
		<meta name="viewport" content="width=device-width, initial-scale=1">
		<link href="/static/css/mainpage.css" rel="stylesheet" />
		<script type="text/javascript" src="/static/javascript/mainpage.js"></script>
	</head>
	<body>
		{{{ body }}}
	</body>
</HTML>