<div class="header navbar navbar-inverse navbar-static-top">
    <div class="navbar-header">
    	<h1 class="navbar-left" id="top-navbar-left">Jared Thomas</h1>
    </div>
    <div class="navbar-collapse collapse" id="navList">
		<ul class="nav navbar-nav navbar-right" id="top-navbar-right">	
			<li>
				<a href="#skills" class="scrollto">Skills</a>
			</li>
			<li>
				<a href="#portfolio" class="scrollto">Portfolio</a>
			</li>
			<li>
				<a href="#contact" class="scrollto">Contact</a>
			</li>
			<br>
		</ul>
    </div>
</div>
<div class="text-center center-block">
	<h1 id="top-image-text" class="text-center">My Life</h1>
	<img id="top-image" src="/static/images/work2.jpg" alt="work2" height="300" width="400"/>
</div>