<div class="header navbar navbar-inverse navbar-static-top">
    <div class="navbar-header">
    	<h1 class="navbar-left" id="top-navbar-left">Jared Thomas</h1>
    </div>
    <div class="navbar-collapse collapse" id="navList">
		<ul class="nav navbar-nav navbar-right" id="top-navbar-right">	
			<li>
				<a href="#skills" class="scrollto">Skills</a>
			</li>
			<li>
				<a href="#portfolio" class="scrollto">Portfolio</a>
			</li>
			<li>
				<a href="#contact" class="scrollto">Contact</a>
			</li>
			<br>
		</ul>
    </div>
</div>
<div class="text-center center-block">
	<h1 id="top-image-text" class="text-center">Some People Call Me Jerry</h1>
	<div>
		<h10 id="aboveImageText">(click on picture to read my story)</h10>
	</div>
		<img id="top-image" src="/static/images/work2.jpg" alt="work2" height="300" width="400"/>
	<div>
		<span class="glyphicon glyphicon-arrow-up" id="belowPictureUpArrow"></span>
	</div>
	<div>
		<h10 id="belowPictureText">That's Me</h10>
	</div>
	<div>
		<h6 id="belowPictureText">Click Down for My Skills</h6>
	</div>
	<div>
		<a href="#skills"><span class="glyphicon glyphicon-arrow-down" id="belowPictureDownArrow" href="#skills"></span></a>
	</div>
</div>
<div id = "aboutMeModal" class="modal fade" role="dialog">
	<div class="modal-dialog">
	  <div class = "modal-content">
	    <div class = "modal-header">
          <button type="button" class="close" data-dismiss="modal">&times;</button>
          <h4 class="modal-title text-center">About Me</h4>
	    </div>
	    <div class="row">
	    	<div class="col-md-2">
	    	</div>
	    	<div class="col-md-2">
	    		<span class="glyphicon glyphicon-menu-left" id="leftAboutButton"></span>
	    	</div>
	    	<div class="col-md-4">
	    		<div class = "modal-body"></div>
	    	</div>
	    	<div class="col-md-2">
	    		<span class="glyphicon glyphicon-menu-right" id="rightAboutButton"></span>
	    	</div>
	    	<div class="col-md-2">
	    	</div>
	    </div>
	    <div class = "modal-footer">
	    	<button type="button" class="btn btn-default center-block" data-dismiss="modal">Close</button>
	    </div>
	  </div>
	</div>
</div>